# Node
node_modules/
frontend/dist/
*.log
npm-debug.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Datos crudos descargados (se regeneran con el ETL)
data/raw/*
!data/raw/.gitkeep

# OS / editores
.DS_Store
.idea/
.vscode/
